<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sharify</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/autoscroll.css">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/js/views.js"></script>

    <!--Top Bar-->
    <div id="top-bar">
      <img id="top-icon" src="/media/music_icon.png" onclick="pageChanger(1)">
      <div id="top-title">Music Sharer</div>
      <div id="top-right">
        <div class="text-medium" style="display:inline" id="username" onclick="pageChanger(3)">User Name</div>
        <a href="./logout" style="display:inline"><button id="top-start-stream" type="button" class="btn btn-default">Log Out</button></a>
      </div>
    </div>

    <!--Queue Bar-->
    <div id="queue-bar" class="col-sm-3 col-md-2 sidebar">
      <!--Stream Info-->
      <div id="stream-info">
        <div class="row">
          <div class="col-md-2" style="padding-top: 10px">
            <img src="/media/user.png">
          </div>
          <div class="col-md-10">
            <div class="text-medium">Streamer Name</div>
            <div class="text-small">Stream Description to tell people about the stream. Must be short.</div>
          </div><!--col-->
        </div><!--row-->
      </div><!--stream-info-->

      <!--Current Song-->
      <div id="current-song">
        <div class="row">
          <div class="col-md-2">
            <img class="playback-btn" id="play-button" src="/media/play.png">
            <img class="playback-btn hidden" id="pause-button" src="/media/pause.png">
          </div>
          <div class="col-md-7">
            <div class="text-medium" id="current-song-name">Song Name</div>
            <div class="text-small" id="current-song-artist">Artist Name/Album Title</div>
          </div>
          <div class="col-md-3">
            <img id="current-song-image" src="/media/album.png">
          </div>
        </div>
        <div class="row">
	  <img src="/media/low-volume.png" style="margin-left: 10px; margin-top:-15px">
          <div class="slidecontainer">
            <input type="range" id="volumeSlider" class="slider" min="1" max="100" value="50">
          </div>
	  <img src="/media/high-volume.png" style="margin-top:-15px">
        </div>
      </div><!--current-song-->



      <!--Queue-->
      <div id="queue" class="container-fluid">
        <div class="row text-medium">Queue</div>
      </div>

    </div><!--queue-bar-->





    <!-- ---------------Main Panel----------------- -->
    <div id="main-panel" class="container-fluid">
      <!--Home Page-->
      <div id="home-page">
	<div class="row">
	  <div class="col-md-3 col-md-offset-9 text-right">
	    <button id="top-start-stream" type="button" class="btn btn-default" onclick="pageChanger(2)">Start Stream</button>
	  </div>
	</div>
	<div class="text-header">Friends Streams</div>
	<div class="row">
	  <div id="friends-streams"></div>
	</div>
      </div><!--home-page-->





      <!--Manage Stream Page-->
      <div id="stream-page">
	<div class="text-header">Manage Stream</div>
	<ul class="nav nav-tabs">
	  <li id="stream-tab-playlist" role="presentation text-medium" class="active"><a href="#" onclick="streamManageTab(1)">Select Playlist</a></li>
	  <li id="stream-tab-search" role="presentation text-medium"><a href="#" onclick="streamManageTab(2)">Search Songs</a></li>
	</ul>

	<!--Select Playlist-->
	<div id="stream-playlist">
	  <div class="well">
	    <ul id="playlist-list" class="search-results">
	    </ul>
	  </div>
	</div>
	
	<!--Search Songs-->
	<div id="stream-search">
	  <div class="row">
	    <div class="col-md-4">
              <div class="input-group">
		<form id="search-form">
		  <input type="text" id="query" value="" placeholder="Search..." class="form-control" >
		</form>
              </div> <!--search-form-->
	    </div><!--col-->
	  </div><!--row-->
	  <div class="row">
	    <div class="col-md-12">
              <div id="search" class="well search-well">
		<ul id="track-list" class="search-results">
		</ul>
              </div>
	    </div><!--col-->
	  </div><!--row-->
	</div>
      </div><!--stream-page-->




      <!--Profile Page-->
      <div id="profile-page" class="container-fluid">
	<div class="row">
	  <div class="col-sm-2">
	    <img id="prof-pic">
	  </div>
	  <div class="col-sm-10">
	    <div id="prof-username" class="text-header"></div>
	  </div>
	</div>
      </div>


    </div><!--main-panel-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/jquery.autoScrollTextTape.js"></script>
    <!--<script src="/js/jquery.marquee.js"></script>-->
    <script src="/js/webplayer.js"></script>
    <script src="/js/init-webplayer.js"></script>
    <script src="/js/spotify.js"></script>
  </body>
</html>
