<!DOCTYPE html>
<!--Home Page-->
<div id="home-page">
<div class="row">
  <div class="col-md-3 col-md-offset-9 text-right">
    <button id="top-start-stream" type="button" class="btn btn-default" onclick="location.href='/stream';">Start Stream</button>
  </div>
</div>
<div class="text-header">Friends Streams</div>
<div class="row">
  <div id="friends-streams"></div>
</div>

</div>
