/*Text Styles*/
body{
	font-family: 'Fira Sans', sans-serif;
}

.text-header{
	font-size: 24pt;
}

.text-medium{
	font-size: 16pt;
}

.text-small{
	font-size: 10pt;
}

/*Styles for the top bar*/
#top-bar{
	width: 70%;
	position: fixed;
	top: 0;
	height: 60px;
	text-align: center;
	border-bottom: 1px solid black;
}

#top-icon{
	position: absolute;
	top: 5px;
	left: 10px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
}

#top-title{
	margin-top: 5px;
	font-size: 28pt;
	display: inline-block;
}

#top-right{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

/*Queue bar styles*/
#queue-bar{
	position: fixed;
	width: 30%;
	height:100%;
	top: 0;
	right: 0;
	border-left: 1px solid black;
}

#stream-info{
	height: 70px;
	border-bottom: 1px solid black;
}

#current-song{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

#album-cover{
	/*border: 1px solid black;*/
}

#queue{
	overflow-y: scroll;
}

.queue-item{
    border-bottom: 1px solid black;
}

.votes{
    margin-top: -7px;
    margin-bottom: -9px;
}

.vote-icon{
    width: 20px;
}

/*Main section of the page*/
#main-panel{
	margin-top: 70px;
	margin-left: 10px;
	width: 68%;
	overflow-y: scroll;
}

#mask{
    display: none;
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 25;
}

/*Home page styles*/
#home-page{
	display: block;
}


#home-streams{
	/*margin-left: 5%;
	margin-top: 10px;
	width: 85%;
	height: 300px;
	border: 1px solid black;
	border-radius: 8px;*/
}

.stream-row{
    height: 80px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.stream-img{
    height: 60px;
}

/*Manage Stream page styles*/
#stream-page{
    display:none;
}

#stream-start-form{
    display:none;
    position:fixed;
    left: 20%;
    width: 60%;
    top: 100px;
    height: 300px;
    z-index: 35;
    border-radius: 5px;
    background-color: white;
}

#stream-search{
	display: none;
}

.tab-header{
	height: 40px;
	padding-top: 5px;
	text-align: center;
}

.tab-header:hover{
	background-color: rgb(183, 183, 183);
	cursor: pointer;
}

/*Profile page styles*/
#profile-page{
    display: none;
}

#prof-pic{
    height:100px;
    border-radius: 50%;
}

#prof-userID{
    display:none;
}

/*Login Page styles*/
#login-background{
	position: fixed;
	top: 0px;
	width: 1500px;
	z-index: 10;
}

#spotify-login-button{
	z-index: 11;
	width: 200px;
	height: 40px;
	padding-top: 10px;
	position: fixed;
	top: 80px;
	left: 42%;
}

.playback-btn {
	width: 35px;
	height: 35px;
	margin: auto;
	display: block;
}

#query {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 400px;
}

ul {
	list-style-type: none;
}

.search-icons {
	width: 20px;
	height: 20px;
	margin: 0 15px 0 0;
}

.search-results {
    padding-left: 10px;
}

.search-well{
	display: none;
}

.playlist-title{
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}

.search-item {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}

.search-item:hover{
    background-color:rgb(150, 150, 150);
}

.playlist-songs{
	display: none;
	max-height: 250px;
	overflow-y: scroll;
}

.slidecontainer {
    display: inline-block;
    width: 70%;
    padding-top: 15px;
    margin: auto;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
		outline: none;
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
